
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admin/product/edit-product/{{product._id}}" method="post" class="tm-edit-product-form" enctype="multipart/form-data"  >
                  <div class="form-group mb-3">
                     <p class="text-danger" id="name"></p>
                    <label
                      for="name"
                      >Product Name
                    </label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      class="form-control validate"
                      value="{{product.name}}"
                      onchange="validateName()"
                    />
                  </div>
                  <div class="form-group mb-3">
                      <p class="text-danger" id="discriptions"></p>
                    <label
                      for="description"
                      >Description</label
                    >
                    
                    <input type="text" class="form-control validate" id="discription" name="description" value="{{product.description}}" aria-rowcount="3" onkeyup="validateDiscription()">
                  </div>
                    <div class="form-group mb-3">
                    <label
                    
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Category</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="category"
                      name="category"
                      required
                    >
                  
                      <option >{{product.category}}</option>
                      {{#each category}}
                      <option value="{{this.name}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="row">
                      
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="stock"
                            >Units In Stock
                          </label>
                          <input
                            id="stock"
                            name="stock"
                            type="text"
                            value="{{product.stock}}"
                            class="form-control validate"
                            required
                          />
                        </div>
                         <div class="form-group mb-3 col-xs-12 col-sm-6">
                             <label for="">Image</label>
                             <div class="m-3">
                              <img src="/product-image/{{product._id}}.jpg" alt="" style="width:100px;height:auto" >
                             </div>
                            
                             <input type="file" name="image" class="form-control validate"  >
                         </div>
                  </div>
                  
              </div>
              
              <div class="col-12">
                <button type="submit" onclick="return validation()" class="btn btn-primary btn-block text-uppercase">Update Product Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved. 
            
            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
        </div>
    </footer> 
 <script defer src="https://cdn.crop.guide/loader/l.js?c=GVVLNV"></script>

    <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->

    <script>
      $(function() {
        $("#expire_date").datepicker();
      });
       </script>
      

    
        	 <script>
    let errorName = document.getElementById('names')
    let errorDescription = document.getElementById('discriptions')
  
  
    
    function validateName() {
		
        const name = document.getElementById('name').value;
        if (name == "") {
            errorName.innerHTML = 'required'
            return false
        }  
        if (!name.match(/^[a-zA-Z]*$/)) {
            errorName.innerHTML = 'invalid'
            return false
        }
        errorName.innerHTML = ''
        return true

    }
   
	function validateDiscription(){
		const address=document.getElementById('discription').value
		if(address==''){
			errorDescription.innerHTML='cannot be empty'
			return false

		}
		errorAddress.innerHTML=null
		return true
	}
   



 
    function validation() {
        if (validateName()  && validateDiscription() ) {
            
         return true
        }
        return false
    }
	</script>
      