<body id="reportsPage">

   <!-- Example single danger button -->
<div class="btn-group">
  

      
            
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            
            <div class="container">
                <div class="row m-2 p-2">
                    <div class="card m-2" style="width: 18rem;">
  <div class="card-body text-center">
    <h5 class="card-title fw-bold">Total Orders</h5>
    <h6 class="card-subtitle mb-2 text-center text-muted">{{orderCount}}</h6>
  
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <div class="card-body text-center">
    <h5 class="card-title fw-bold">Total Amount</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{revenue}}</h6>
  
   
  </div>
</div><div class="card m-2" style="width: 18rem;">
  <div class="card-body text-center fw-bold">
    <h5 class="card-title">COD Amount</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{COD}}</h6>
   
  </div>
</div><div class="card m-2" style="width: 18rem;">
  <div class="card-body text-center fw-bold">
    <h5 class="card-title">Razorpay amount</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{razorpay}}</h6>

  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <div class="card-body text-center fw-bold">
    <h5 class="card-title">Paypal amount</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{paypal}}</h6>

  </div>
</div>
                </div>
            </div>
          
            </div>
        </div>
        <div class="container " >
            <div class="row">
                <div class="card mb-3 col-12" style="background-color:#435c70">
                    <div id="test" class="card-body">
                       
                <div class="chartbox">
                   
  <canvas  id="myChart"></canvas>
  
</div>
                    </div>
                </div>
             

            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved. 
                    
                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>
    </div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    //setup
 const data={


labels : ['total Amount', 'COD Amount', 'razorpay Amount', 'Paypal Amount'],
          
        datasets: [{
            label: '',
            data: [{{revenue}},{{COD}} ,{{razorpay}} ,{{paypal}} ],
           
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
               
            ],

            borderColor: [
                'rgba(255, 99, 132, 1)',
                   'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
             
        }]
        } 
//
//config
 const config={
       type: 'bar',
    data,
    options: {
        scales: {
            x:{
                ticks:{
                    color:['yellow','black']
                }
            },
            y: {
                ticks:{
                    color:['black']
                },
                beginAtZero: true,
                
            },
        }
    }

} 

//render init block
//line config
 const data2={


labels: ['COD', 'razorpay', 'paypal', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [1,2,3, 5, 2, 3],
            backgroundColor: [

                'rgba(255, 99, 132, 0.2)',
               
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                
            ],
            borderWidth: 1
        }]
        }

const config2={
       type: 'bar',
    data2,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }

} 

const myChart =new Chart(
 document.getElementById('myChart'),

config
)
const linechart =new Chart(
 document.getElementById('linechart'),

config2
)


</script>
 
    
</body>
