	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Check Out Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						   

						  </div>
						 
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Payment Details
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        					<div class="mt-2 border  p-5 text-center" >
											<h4>Wallet amount <span>{{wallet}}</span></h4>
                            <p>Payment Method</p>
							<form action="" id="checkout-form"  >
                            <label class="radio-inline px-5"><br>

                                <input type="radio" name="paymentmethod" value="COD" >COD <br>
                            
							 </label><br>
							 {{#if price}}
							<label class="radio-inline mt-2" ><br>
                                <input type="radio" name="paymentmethod" value="wallet">wallet 
                            </label><br>
						{{else}}
						<label class="radio-inline mt-2" ><br>
                                <input type="radio" name="paymentmethod" value="wallet" disabled>wallet 
                            </label><br>
							{{/if}}
                            <label class="radio-inline mt-2" > <br>
                                <input type="radio" name="paymentmethod" value="razorpay">Razorpay 
                            </label><br>
							<label class="radio-inline mt-2" >
                                <input type="radio" name="paymentmethod" value="paypal">Paypal 
                            </label><br>
							
							
							
                        </div>  
						        </div>
						      </div>
						    </div>
						  </div>
						 
						</div>
 	<button  class="mt-5 boxed-btn bg-warning rounded-pill float-right"  type="submit" onclick="return validation()" style="border:none ;">Placed Order</button>
						  </form>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
                             
							<tbody class="order-details-body">
                              
								<tr>
									<td>Product</td>
									<td>Total</td>
								</tr>
                                 {{#each products}}
								<tr>
									<td>{{this.product.name}}</td>
									
									
									<td>Rs{{this.total}}</td>
								</tr>
                                {{/each}}
							
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td><i class="fa-solid fa-indian-rupee-sign"></i> {{subtotal}}</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>Rs 0</td>
								</tr>
								{{#if offertotal}}
								<tr>
									<td>Offer </td>
									<td><i class="fa-solid fa-indian-rupee-sign"></i> {{offertotal}}</td>
								</tr>
								{{/if}}
								{{#if discountcoupon}}
								<tr>
									<td>discount</td>
									<td><i class="fa-solid fa-indian-rupee-sign"></i> {{discountcoupon}}</td>
								</tr>
								{{/if}}
								{{#if coupondiscount}}
								<tr>
									<td>Total</td>
									<td><i class="fa-solid fa-indian-rupee-sign"></i> {{coupondiscount}}</td>
								</tr>
									{{/if}}
								<tr>
									<td>Total</td>
									<td><i class="fa-solid fa-indian-rupee-sign"></i> {{total}}</td>
								</tr>
							
								
							</tbody>
						</table>
						
                       
						
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	 
	</script>

</script>