
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                           
                            <li  ><a onclick="category('all')">All</a> </li>
                          
                             {{#each category}}
                            <li ><a onclick="category('{{this.name}}')">{{this.name}}</a></li>
                              {{/each}}
                        

                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists" >
				{{#if response}}
				{{#each response}}
					<div class="col-lg-4 col-md-6 text-center strawberry" >
					<div class="single-product-item">
						<div class="product-image">
							<a href="#"><img style="width:300px ; height:300px" src="/product-image/{{this._id}}.jpg" alt=""></a>
						</div>
							{{#if offerstatus}}
						<h3>{{name}}</h3>
						<p style="text-decoration:line-through ; color:grey;"><span class="pt-3">Per Kg</span> Rs {{price}} </p>
						<p class="product-price text-success"> {{offerpercentage}} % </p>
						<p class="product-price"><span>Per Kg</span>Rs{{discountPrice}} </p>
					{{else}}
						<h3 style="margin: bottom 50px; ;">{{name}}</h3>
						<p class="product-price"><span style="margin-bottom: 104px;">Per Kg</span> Rs {{price}} </p>
						{{/if}}
						<button class="cart-btn rounded-pill btn-warning mt-3"  onclick="addtoCart('{{this._id}}')"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
					</div>
				</div>
				{{/each}}
				{{else}}
				{{#each products}}
                
				<div class="col-lg-4 col-md-6 text-center strawberry" >
					<div class="single-product-item">
						<div class="product-image">
							<a href="#"><img style="width:300px ; height:300px" src="/product-image/{{this._id}}.jpg" alt=""></a>
						</div>
							{{#if offerstatus}}
						<h3>{{name}}</h3>
						<p style="text-decoration:line-through ; color:grey;"><span class="pt-3">Per Kg</span> Rs {{price}} </p>
						<p class="product-price text-success"> {{offerpercentage}} % </p>
						<p class="product-price"><span>Per Kg</span>Rs{{discountPrice}} </p>
						{{else}}
						
						<h3 style="margin: bottom 50px; ;">{{name}}</h3>
						<p class="product-price"><span style="margin-bottom: 104px;">Per Kg</span> Rs {{price}} </p>
						{{/if}}
							<button class="cart-btn rounded-pill btn-warning mt-3"  onclick="addtoCart('{{this._id}}')"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
					</div>
				</div>
			{{/each}}
			{{/if}}
			</div>

			{{!-- <div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div> --}}
		</div>
	</div>
	<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>