	<div class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							<p>Fresh ad Organic</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
    

 
 <div class="container">
    <div class="row">

<div class="table-responsive pb-5">
  <table class="table table-bordered table-hover  table-dark mb-5 mt-3   ">
  <thead>
    <tr>
      <th scope="col">index</th>
      <th scope="col">Date</th>
      
      <th scope="col">Phone No</th>
	  <th scope="col">Address</th>
     <th scope="col">products</th>
	  
       <th scope="col">Total</th>
        <th scope="col">Status</th>



        <th scope="col">option</th>

   
    </tr>
  </thead>
  <tbody>
     {{#each result}}
   
    <tr>
       <td>{{inc @index}}</td>
      <td>{{date}}</td>
     
      <td>{{deliveryDetails.phoneno}}</td>
	   <td>{{deliveryDetails.address}}</td>
    
     <td > {{#each product}} {{this.name}} &nbsp;   {{/each}}</td>    
    
      <td class="fw-bold">Rs {{price}}</td>
      {{#ifCompare status 'canceled'}}

      <td><div id={{this._id}} class="text-danger fw-bolder fs-5">{{status}} </div></td>
     {{else}} 
      {{#ifCompare status 'shipped'}}
        <td><div id={{this._id}} class="text-warning fw-bolder fs-5">{{status}} </div></td>
     {{else}}
       {{#ifCompare status 'delivered'}}

        
       <td><div id={{this._id}} class="text-success fw-bolder fs-5">{{status}} </div></td>
       {{else}}
       
        {{#ifCompare status 'placed'}}
         <td><div id={{this._id}} class="text-success fw-bolder fs-5">{{status}} </div></td>
         {{else}}
          <td><div id={{this._id}} class="text-danger fw-bolder fs-5">{{status}} </div></td>
{{/ifCompare}}
{{/ifCompare}}
{{/ifCompare}}
{{/ifCompare}}
      <td>
        {{#ifCompare status 'canceled'}}
     <button class="btn btn-warning rounded-pill" onclick="cancelOrder('{{this._id}}')"  disabled>cancel </button>
{{else}}
 <button class="btn btn-warning rounded-pill" onclick="cancelmyOrder('{{this._id}}')"  >cancel </button>
 {{/ifCompare}}
</td>
    </tr>
      {{/each}}
 
  </tbody>
 

 
</table>
</div>

    </div>
 </div>



  
 